h1,
h2 {
  font-size: 20px;
  color: #808;
  margin-bottom: 10px;
}

.careerPaths {
  padding-left: 20px;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
  list-style-type: square;
}

.finalInsight {
  font-size: 16px;
  line-height: 1.8;
}
